# end_of_line is handled by git

root = true

[*.{js,java,groovy}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{md,txt}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = 120

[*.scala]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
