.DS_Store
.gradle
.idea
etf-webapp.iml
etf.log
etf.*.log
src/main/webapp/WEB-INF/etf/reportstyles/**
src/main/webapp/ii/jquery*
src/main/webapp/ii/webjars*
src/main/webapp/ii/*runtfile*
src/main/webapp/ii/images
build
src/main/webapp/help
etf-*.log
etf-*.zip
hs_err_pid*.log
/build-dependencies.txt
