<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">


<p th:if="${testDriversInfo == null}" style="color:red">No test drivers loaded</p>

<div th:if="${testDriversInfo != null}">
    <h1 th:text="#{l.Loaded.testdrivers}">Loaded test drivers</h1>
    <ul th:each="i : ${testDriversInfo}">
        <li th:text="${i.name} + ' ' + ${i.version}">Name</li>
    </ul>
</div>

<p th:if="${testDriversInfo == null}" style="color:red">No test drivers loaded</p>

<div th:if="${testDriversInfo != null}">
    <h1 th:text="#{l.Loaded.testdrivers}">Loaded test drivers</h1>
    <ul th:each="i : ${testDriversInfo}">
        <li th:text="${i.name} + ' ' + ${i.version}">Name</li>
    </ul>
</div>

</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
