<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="90 seconds">

    <!-- Enable JMX Management -->
    <jmxConfigurator/>

    <!-- APPENDERS -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>etf.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>etf-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>14</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STD" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- LOGGERS -->
    <logger name="org.apache.tiles" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STD"/>
    </logger>

    <logger name="org.deegree" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STD"/>
    </logger>

    <!-- Enable debug output by setting the Java property spring.profiles.active to dev: -Dspring.profiles.active=dev -->
    <if condition='property("spring.profiles.active").contains("dev")'>
        <then>
            <logger name="de.interactive_instruments.etf" level="DEBUG" additivity="false">
                <appender-ref ref="FILE"/>
                <appender-ref ref="STD"/>
            </logger>
            <root level="DEBUG">
                <appender-ref ref="FILE"/>
                <appender-ref ref="STD"/>
            </root>
        </then>
        <else>
            <logger name="de.interactive_instruments.etf" level="INFO" additivity="false">
                <appender-ref ref="FILE"/>
                <appender-ref ref="STD"/>
            </logger>
            <root level="ERROR">
                <appender-ref ref="FILE"/>
                <appender-ref ref="STD"/>
            </root>
        </else>
    </if>
</configuration>
