<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Create web service test object</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">


<h1 th:text="#{l.define.new.testobject}">New test object</h1>

<form data-ajax="false" action="#" th:object="${testObject}" th:action="@{/testobjects/add-http-to}" method="POST" class="inline" enctype="multipart/form-data">

    <ul th:if="${#fields.hasErrors('*')}" >
        <li style="color:red" th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
    </ul>


    <fieldset>

        <div data-role="fieldcontain">
            <label th:for="*{resources[__'serviceEndpoint'__]}" th:text="#{l.Service.url}">Service URL</label>
            <input type="text" th:field="*{resources[__'serviceEndpoint'__]}" />
        </div>

        <div id="credentialFields">
            <div data-role="fieldcontain">
                <label th:for="*{properties.asMap[__'username'__]}" th:text="#{l.Username}">Username</label>
                <input type="text" th:field="*{properties.asMap[__'username'__]}" />
            </div>

            <div data-role="fieldcontain">
                <label th:for="*{properties.asMap[__'password'__]}" th:text="#{l.Password}">Password</label>
                <input type="text" th:field="*{properties.asMap[__'password'__]}" />
            </div>
        </div>

        <div data-role="fieldcontain">
            <label th:for="*{label}" th:text="#{l.Label} + ':'">Label:</label>
            <input type="text" th:field="*{label}" />
        </div>

        <div data-role="fieldcontain">
            <label th:for="*{description}" th:text="#{l.Description} + ':'">Description:</label>
            <input type="text" th:field="*{description}" />
        </div>

        <button data-inline="true" data-icon="check" data-iconpos="right" type="submit">OK</button>
        <a id="show-credentials-button" data-inline="true"
           data-role="button" data-icon="gear" data-iconpos="right" href="#" th:text="#{l.Credentials}">Credentials</a>
    </fieldset>

</form>


<div>
    <ul id="testobjectlist" data-role="listview" data-inset="true" data-filter="false">
    </ul>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {

        $('#credentialFields').hide();
        $("#show-credentials-button").click(function(){
            $('#credentialFields').slideToggle(400);
        });

        var serviceEndpointInput = $("#resourcesserviceEndpoint");

        $(function() {
            var timer;
            $(serviceEndpointInput).keyup(function() {
                clearTimeout(timer);
                var ms = 200; // milliseconds
                var val = this.value;
                timer = setTimeout(function() {
                    parseEndpoint(val);
                }, ms);
            });
        });

        parseEndpoint = function() {

            var url = $(serviceEndpointInput).val();

            if(url) {
                // to server
            }
        }
    });


    /*]]>*/
</script>

</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
