<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Create document test object</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">


<h1>Definition eines neuen Testobjektes</h1>

<form data-ajax="false" action="#" th:object="${testObject}" th:action="@{/testobjects/add-file-to}" method="POST" class="inline" enctype="multipart/form-data">

    <ul th:if="${#fields.hasErrors('*')}" >
        <li style="color:red" th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehlerhafte Eingabe</li>
    </ul>


    <fieldset>

        <div data-role="fieldcontain">
            <label for="label">Name:</label>
            <input type="text" th:field="*{label}" />
        </div>

        <div data-role="fieldcontain">
            <label for="description">Beschreibung:</label>
            <input type="text" th:field="*{description}" />
        </div>


        <div id="dataSelectionDD">
            <div data-role="fieldcontain">
                <label for="dataSelection" class="select">Testdatenquelle:</label>
                <select data-inline="true" name="dataSelection" id="dataSelection">
                    <option value="existingData">Existierende Dateien</option>
                    <option value="uploadData">Dateiupload</option>
                </select>
            </div>

            <div id="existingData" data-role="fieldcontain">
                <label for="existingDataPath" class="select">Relativer Pfad:</label>
                <select data-inline="true" id="existingDataPath" th:field="*{resources[__'data'__]}">
                    <option th:each="tP : ${testObjDirs}" th:text="${tP}" th:attr="label=${tP},value=${T(de.interactive_instruments.UriUtils).encode(tP)}" label="Directory.1" value="1" />
                </select>
            </div>

            <div id="uploadTestObj" data-role="fieldcontain">
                <label for="testObjFile">ZIP Datei</label>
                <input type="file" name="testObjFile" accept="application/zip"/>
            </div>

            <div data-role="fieldcontain">
                <label for="regex">Dateifilter</label>
                <input type="text" th:field="*{properties.asMap[__'regex'__]}" value="" />
            </div>
        </div>


        <button data-inline="true" data-icon="check" data-iconpos="right" type="submit">OK</button>
    </fieldset>

</form>










<div>
    <ul id="testobjectlist" data-role="listview" data-inset="true" data-filter="false">
    </ul>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/


    var testobjectlist = $("#testobjectlist");
    var timer, delay = 1500;
    var input = $("regex");

    $(document).ready(function() {


        $( "#existingData" ).show();
        $( "#uploadTestObj" ).hide();

        var dS = $('#dataSelection');
        dS.change( function() {
            if(dS.val()=='uploadData') {
                $( "#existingData" ).hide();
                $( "#uploadTestObj" ).show();
            }else if(dS.val()=='existingData') {
                $( "#existingData" ).show();
                $( "#uploadTestObj" ).hide();
            }
        });



        input.bind('keydown blur change', function(e) {
            var _this = $(this);
            clearTimeout(timer);
            timer = setTimeout(function() {

                $.getJSON('../testobject/regex/'+input.val(), function (jsonData) {
                    if (!$.isEmptyObject(jsonData)) {
                        if (!$.isEmptyObject(jsonData)) {
                            $.each(jsonData, function (i, property) {
                                var testObject = $(
                                        '<li>'+property.name+'</li>'
                                );

                                testobjectlist.append(testObject);
                            });
                        }
                    }
                }).fail(function () {

                    alert("Invalid regex");
                });
                testobjectlist.listview( "refresh" );

            }, delay );
        });
    });


    /*]]>*/
</script>


</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
