<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Testobject overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">


<h1 th:text="#{l.Testobjects}">Testobjects</h1>

<div id="testobject-resource-list">

    <p th:if="${resourceSchemes == null or resourceSchemes.isEmpty()}" style="color:red" th:text="#{l.testObject.creation.no.schemes}">Test objects can not be created, because no test driver is available.</p>

    <a th:each="resSchm : ${resourceSchemes}" data-icon="plus" data-role="button" data-inline="true" data-mini="true"
       href="#" th:href="@{'/testobjects/create-' + ${resSchm} + '-to'}" th:text="#{'l.define.new.testobject.' + ${resSchm} }">New test object</a>

</div>

<div id="testobjectlist">
    <ul data-role="listview" data-inset="true" class="ui-listview-outer" data-filter="true">
        <div data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false" th:each="tO : ${testObjects}">
            <h2 th:text="${tO.label}">Item</h2>

            <p><span th:text="#{l.Description}">Description:</span>:
                <span th:text="${tO.description}">DESC</span></p>

            <p th:if="${#strings.contains(tO.resources?.values()[0],'http') == false}"><span th:text="#{l.Resource}">Resource:</span>:
                <span th:text="${tO.resources.values()[0]}">URI</span></p>

            <p th:if="${#strings.contains(tO.resources?.values()[0],'http') == true}"><span th:text="#{l.Resource}">Resource:</span>:
                <a th:href="${tO.resources.values()[0]}" th:text="${tO.resources.values()[0] }">URI</a></p>

            <p><span>Version</span>:
                <span th:text="${tO.versionData.version}">version</span></p>

            <p><span>Hash</span>:
                <span th:text="${tO.versionData.itemHashAsStr}">hash</span></p>

            <p><span th:text="#{l.Created}">Created</span>:
                <span th:text="${#dates.format( tO.versionData.creationDate, 'HH:mm dd.MM.yyyy')}">DATE</span></p>

            <p th:if="${tO.versionData.lastUpdateDate != null}" ><span th:text="#{l.Change.detected}">Change detected</span>:
                <span th:text="${#dates.format( tO.versionData.lastUpdateDate, 'HH:mm dd.MM.yyyy')}">DATE</span></p>

            <div  th:if="${tO.getProperties() != null}">
                <p><span th:text="#{l.Additional.properties}">Additional properties</span>: </p>
                <ul th:each="p: ${tO.getProperties().namePropertyPairs()}">
                    <li th:if="${p.key != 'password'}" th:text="'' + ${p.key} + ' = ' + ${p.value}"></li>
                </ul>
            </div>
            <p><a class="delete-button-to" data-icon="delete" data-role="button" data-inline="true" data-mini="true" href="#" th:href="@{'/testobjects/' + ${tO.id} + '/delete'}" th:text="#{l.remove.object}">Remove object</a></p>
        </div>
    </ul>
</div>

<script type="application/javascript" th:inline="javascript">
    $('.delete-button-to').click(function(event) {
        event.preventDefault();
        var confirmDeleteTestObject = /*[[#{l.confirm.delete.testobject}]]*/ "Remove test object?";
        var r=confirm(confirmDeleteTestObject);
        if (r==true)   {
            window.location = $(this).attr('href');
        }
    });
</script>




</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
