<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Configure</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">


<!--h1>Test run configuration</h1-->
<h1 th:text="#{l.Testrun.conf}">Test run configuration</h1>

<div>

    <form th:if="${testObject != null}" id="testObjectDummy" data-ajax="false" action="#" th:object="${testObject}" method="POST" class="inline">
        <ul th:if="${#fields.hasErrors('*')}" >
            <li style="color:red" th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehlerhafte Eingabe</li>
        </ul>
    </form>

<form id="testrun-form" data-ajax="false" action="#" th:object="${testRun}" th:action="@{/testruns/start-direct}" method="POST" class="inline" enctype="multipart/form-data">

    <ul th:if="${#fields.hasErrors('*')}" >
        <li style="color:red" th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehlerhafte Eingabe</li>
    </ul>


    <fieldset>

        <div data-role="fieldcontain">
            <label for="testRunLabel" th:text="#{l.Label}">Label:</label>
            <input data-inline="true" id="testRunLabel" type="text" title="
            Geben Sie ein Label ein, um den Testlauf später wieder auffinden zu können" th:field="*{label}" />
        </div>

        <div th:if="${simplifiedTestObjectType == 'service'}">
            <div id="serviceUrl" data-role="fieldcontain">
                <label th:for="*{testObject.resources[__'serviceEndpoint'__]}" th:text="#{l.Service.url}">Service URL</label>
                <input class="testObjectResourceInput" data-validation="url" type="text" th:field="*{testObject.resources[__'serviceEndpoint'__]}" />
            </div>
            <!--div id="credentialFields">
                <div data-role="fieldcontain">
                    <label th:for="*{testObject.properties.asMap[__'username'__]}" th:text="#{l.Username}">Username</label>
                    <input type="text" th:field="*{testObject.properties.asMap[__'username'__]}" />
                </div>
                <div data-role="fieldcontain">
                    <label th:for="*{testObject.properties.asMap[__'password'__]}" th:text="#{l.Password}">Password</label>
                    <input type="text" th:field="*{testObject.properties.asMap[__'password'__]}" />
                </div>
            </div-->
        </div>

        <div th:if="${simplifiedTestObjectType == 'data'}" id="uploadTestObj" data-role="fieldcontain">
            <label><span th:text="#{l.ZipOrXmlFile}" for="testObjFile">ZIP or XML file </span> <span class="question" help="maximum size: 500 Megabytes"> ?</span></label>
            <input class="testObjectResourceInput" type="file" accept="application/zip,text/xml" id="testObjFile" name="testObjFile" />
        </div>

        <!--div data-role="none" style="display:none;">
            <input data-role="none" type="hidden" th:field="*{testTasks[0].executableTestSuite.id}"/>
        </div-->
        <!--div data-role="none" style="display:none;">
            <input data-role="none" type="hidden" th:field="*{tag.id}" />
        </div-->

        <div data-role="fieldcontain" id="propertyConfiguration">
        </div>

        <button data-inline="true" data-icon="arrow-r" data-iconpos="right" type="submit" >Start</button>
        <a th:if="${simplifiedTestObjectType == 'service'}" id="show-credentials-button" data-inline="true"
           data-role="button" data-icon="gear" data-iconpos="right" href="#" th:text="#{l.Credentials}">Credentials</a>
    </fieldset>

</form>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    function blurWarn(element) {
        element.addClass('ii-warn-bg').delay(850).queue(function(next){
            $(this).removeClass('ii-warn-bg');
            next();
        });
    }

    $(document).ready(function() {

        var testObjectResourceInput = $('.testObjectResourceInput');
        var testRunLabelInput = $('#testRunLabel');

        $('#credentialFields').hide();
        $("#show-credentials-button").click(function(){
            $('#credentialFields').slideToggle(400);
        });

        // Set test label with timestamp
        currentDate = function () {
            var d = new Date();
            return ((d.getDate() < 10) ? "0" : "") + d.getDate() + "." +
                    (((d.getMonth() + 1) < 10) ? "0" : "") + (d.getMonth() + 1) + "." + d.getFullYear();
        }
        currentTime = function () {
            var d = new Date();
            return ((d.getHours() < 10) ? "0" : "") + d.getHours() + ":" +
                    ((d.getMinutes() < 10) ? "0" : "") + d.getMinutes();
        }
        var testRunLabel = /*[[#{l.Testrun.on}]]*/ "Test run on";
        var dateLabel = currentDate() + " - " + currentTime();

        var withTestProject = /*[[#{l.label.with.testproject}]]*/ "with test project";
        var testProjectLabel = /*[[${executableTestSuite.label}]]*/ "TestProject label";


        $('#testRunLabel').val(testRunLabel + " " + dateLabel + " " + withTestProject+" '"+testProjectLabel+"'");

        questionTooltips();

        // Input validation
        $('#testrun-form').on('submit', function (e) {
            e.preventDefault();
            var testRunLabelVal = $.trim(testRunLabelInput.val()).length;
            if (testRunLabelVal < 1) {
                var enterLabel = /*[[#{l.enter.label}]]*/ "Please enter a label!";
                alert(enterLabel);
                blurWarn(testRunLabelInput);
                return;
            }

            var testObjectResourceInputVal = $.trim(testObjectResourceInput.val());
            if (testObjectResourceInputVal.length < 1) {
                var selectAnObject = /*[[#{l.testobject.required}]]*/ "Test object required!";
                alert(selectAnObject);
                blurWarn(testObjectResourceInput);
                return;
            }
            this.submit();
        });
    });

    // Load input parameters via rest
    var projPropConf = $("#propertyConfiguration");
    var projId = /*[[${executableTestSuite.id.toString()}]]*/ "TestProject id";

    getProjProperties = function() {
        $.getJSON('../v2/ExecutableTestSuites/' + projId + '/arguments.json', function (jsonData) {
            if (!$.isEmptyObject(jsonData)) {
                projPropConf.empty();
                projPropConf.hide();
                $.each(jsonData, function (i, prop) {
                    var name = prop['name'];
                    var defaultValue = prop['defaultValue'];
                    var description = prop['description'];
                    var pattern = prop['allowedValues'];
                    var propertyInput = $(
                            '<label for="property-' + projId + '-' + name + '">' + name + ' ' +
                                '<span class="question" help="'+description+'"> ?</span>' +
                            '</label>' +
                            '<input type="text" name="properties.asMap[' + name + ']" ' +
                                ' title="'+description+'" ' +
                                ' pattern="'+pattern+'" ' +
                                ' id="property-' + projId + '-' + name + '" value="' + defaultValue + '" />'
                    );
                    projPropConf.append(propertyInput);
                });

                var etsInput = $(
                        '<div data-role="none" style="display:none;">' +
                        '<input data-role="none" type="hidden" name="properties.asMap[etsId]" id="property-' + projId + '-etsId" value="' + projId + '" />' +
                        '</div>'
                );
                projPropConf.append(etsInput);


                $('input').textinput();
                projPropConf.show('slow');
                questionTooltips();
            }
        }).fail(function () {
            projPropConf.text("Unable to get Project properties!");
        });
    }

    function questionTooltips() {
        $("span.question").hover(function () {
            $(this).append('<div class="tooltip"><p>'+ $(this).attr('help') + '</p></div>');
        }, function () {
            $("div.tooltip").remove();
        });
    }

    if($.trim($('.testObjectResourceInput').val()).length < 1) {
        // Register event listener
        if($('.testObjectResourceInput').attr('type')=='text') {
            $('.testObjectResourceInput').one('focusin', function() {
                getProjProperties();
            });

        }else{
            $('.testObjectResourceInput').one('change', function() {
                getProjProperties();
            });
        }
    }else{
        getProjProperties();
    }

    /*]]>*/
</script>


</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
