<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Configure</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">


<!--h1>Test run configuration</h1-->
<h1 th:text="#{l.Testrun.conf}">Test run configuration</h1>

<div th:if="*{allTestObjectsInUse == true}">
    <p style="color:red" th:text="#{l.all.testobjects.in.use}">All test objects are in use and locked!</p>
</div>
<div th:if="*{noTestObjectsCreated == true}">
    <p style="color:red" th:text="#{l.no.testobjects.created}">No test objects were found. Please add a test object first!</p>
</div>
<div th:if="*{noProjectsAvailable == true}">
    <p style="color:red" th:text="#{l.no.testprojects}">No test projects were found or no test drivers loaded. Please add a test project first or load a test driver!</p>
</div>

<div th:if="*{noProjectsAvailable == false and noTestObjectsCreated == false and noTestObjectsCreated == false}">
<form id="testrun-form" data-ajax="false" action="#" th:object="${testRun}" th:action="@{/testruns/start}" method="POST" class="inline" enctype="multipart/form-data">

    <ul th:if="${#fields.hasErrors('*')}" >
        <li style="color:red" th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehlerhafte Eingabe</li>
    </ul>

    <fieldset>

        <div data-role="fieldcontain">
            <label for="testRunLabel" th:text="#{l.Label}">Label:</label>
            <input data-inline="true" id="testRunLabel" type="text" title="
            Geben Sie ein Label ein, um den Testlauf später wieder auffinden zu können" th:field="*{label}" />
        </div>

        <div data-role="fieldcontain">
            <label for="testObject-menu" th:text="#{l.Testobject}">Testobject:</label>
            <select data-inline="true" id="testObject-menu" th:field="*{testObject.id}" data-native-menu="false" class="filterable-select">
                <option th:text="#{l.Select.testobject}" value="--Select--" class="testresource-none-sel">--Select--</option>
                <option th:each="tO : ${testObjects}" th:text="${tO.label}"
                        th:title="${tO.description}"
                        th:attr="label=${tO.label},value=${tO.id},class=${ 'testresource-' + T(de.interactive_instruments.SUtils).toBlankSepStr(tO.resourceTypeIds)}"
                         label="TestObject.1" value="1" />
            </select>
        </div>

        <div data-role="fieldcontain" id="project-menu-container">
            <label for="project-menu" th:text="#{l.Testproject}">Testproject:</label>
            <select data-inline="true" id="project-menu" th:field="*{testProject.id}" data-native-menu="false" class="filterable-select">
                <option th:each="p : ${testProjects}" th:text="${p.label}"
                        th:title="${p.description}"
                        th:attr="title=${p.description},label=${p.label},value=${p.id},class=${'project-option testresource-' + T(de.interactive_instruments.SUtils).toBlankSepStr(p.supportedResourceTypeIds)}" label="TestProject.1" value="1" />
            </select>
        </div>

        <div data-role="fieldcontain" id="propertyConfiguration">

        </div>

        <button data-inline="true" data-icon="arrow-r" data-iconpos="right" type="submit" >Start</button>
    </fieldset>

</form>

<script th:inline="javascript">
    /*<![CDATA[*/

    var projDesc = $("#testProjectDescription");
    var projPropConf = $("#propertyConfiguration");


    $(document).ready(function() {


        setTestRunLabel = function() {

            var sel = $('#testObject-menu option:selected').val();
            if(sel!="--Select--") {
                // Set test label with timestamp
                currentDate = function () {
                    var d = new Date();
                    return ((d.getDate() < 10) ? "0" : "") + d.getDate() + "." +
                            (((d.getMonth() + 1) < 10) ? "0" : "") + (d.getMonth() + 1) + "." + d.getFullYear();
                }
                currentTime = function () {
                    var d = new Date();
                    return ((d.getHours() < 10) ? "0" : "") + d.getHours() + ":" +
                            ((d.getMinutes() < 10) ? "0" : "") + d.getMinutes();
                }
                var testRunLabel = /*[[#{l.Testrun.on}]]*/ "Test run on";
                var dateLabel = currentDate() + " - " + currentTime();

                var labelWithWebservice = /*[[#{l.label.with.webservice}]]*/ "with webservice";
                var labelWithTestdata = /*[[#{l.label.with.testdata }]]*/ "with test data";
                var webServiceType = $('#testObject-menu option:selected').hasClass(
                        'testresource-serviceEndpoint') ? labelWithWebservice : labelWithTestdata;
                var testObjectLabel = $('#testObject-menu option:selected').text();

                $('#testRunLabel').val(testRunLabel + " " + dateLabel + " " + webServiceType+" "+testObjectLabel);
                $('#testRunLabel').prop('disabled', false);
                $('#testRunLabel').removeClass('ui-disabled');
                $('#testRunLabel').parent().removeClass('ui-state-disabled');
            }else{
                $('#testRunLabel').val(" ... ");
                $('#testRunLabel').prop('disabled', true);
                $('#testRunLabel').addClass('ui-disabled');
            }
        }
        $('#testRunLabel').val(" ... ");
        $('#testRunLabel').prop('disabled', true);
        $('#testRunLabel').addClass('ui-disabled');


        // Input validation
        $('#testrun-form').on('submit', function (e) {
            e.preventDefault();
            var len = $.trim($('#testRunLabel').val()).length;
            if (len < 1) {
                var enterLabel = /*[[#{l.enter.label}]]*/ "Please enter a label!";
                alert(enterLabel);
                return;
            }
            var sel = $('#testObject-menu option:selected').val();
            if (sel=="--Select--") {
                var selectAnObject = /*[[#{l.select.an.object}]]*/ "Please select an test object!";
                alert(selectAnObject);
                return;
            }
            this.submit();
        });


        // Hiding of options does not work, so create a box prototype
        // to which not applicable options will be moved.
        // Option items are selected with there class attribute.
        function MoveBox(el, options) {
            this.defaults = {
                attribute: 'class'
            };
            this.opts = $.extend({}, this.defaults, options);
            this.$el = $(el);
            this.items = new Array();
        };

        MoveBox.prototype = {
            //saves the list
            init: function() {
                var _this = this;
                $('option', this.$el).each(function(i, obj) {
                    var $el = $(obj);
                    $el.data('status', 'enabled');
                    _this.items.push({
                        attribute: $el.attr(_this.opts.attribute),
                        $el: $el
                    });
                });
            },
            //disabled items that match the key
            disable: function(key){
                $.each(this.items, function(i, item){
                    if(item.attribute.indexOf(key)>=0){
                        console.log("Deactivating item "+item.attribute);
                        item.$el.remove();
                        item.$el.data('status', 'disabled');
                    }
                });
            },
            //enabled items that match the key
            enable: function(key){
                var _this = this;
                $.each(this.items, function(i, item){
                    if(item.attribute.indexOf(key)>=0){
                        console.log("Activating item "+item.attribute);
                        var t = i + 1;
                        while(true)
                        {
                            if(t < _this.items.length) {
                                if(_this.items[t].$el.data('status') == 'enabled')  {
                                    _this.items[t].$el.before(item.$el);
                                    item.$el.data('status', 'enabled');
                                    break;
                                }else {
                                    t++;
                                }
                            }else {
                                _this.$el.append(item.$el);
                                item.$el.data('status', 'enabled');
                                break;
                            }
                        }
                    }
                });
            }
        };
        $.fn.moveBox = function(options) {
            if (this.length) {
                this.each(function() {
                    var rev = new MoveBox(this, options);
                    rev.init();
                    $(this).data('moveBox', rev);
                });
            }
        };

        // Hide test projects that are not applicable
        hideNotApplicableProjects = function() {
            $('#project-menu').data('moveBox').disable('project-option');
            var testObjClasses = $('#testObject-menu option:selected').attr('class').split(/\s+/);
            console.log("Selected test classes: "+testObjClasses)
            $.each(testObjClasses, function (index, item) {
                if (item.indexOf('testresource-') >= 0) {
                    console.log('Reactivating all classes with ' + item);
                    $('#project-menu').data('moveBox').enable(item);
                }
            });
            $("#project-menu").selectmenu().selectmenu("refresh");
        }

        // Init box
        $('#project-menu').moveBox({ attribute: 'class' });

        // Hide project menu on load
        $('#project-menu-container').hide();

        // Listen on test object menu change event, ignore --Select--
        $('#testObject-menu').change( function() {
            setTestRunLabel();
            projPropConf.empty();
            projPropConf.hide();
            var sel = $('#testObject-menu option:selected').val();
            if (sel!="--Select--") {
                console.log('Hiding not applicable projects');
                $('#project-menu-container').show();
                hideNotApplicableProjects();
                getProjProperties();
            } else {
                $('#project-menu-container').hide();
            }
        });

        // Load input parameters via rest
        getProjProperties = function() {
            projPropConf.empty();
            projPropConf.hide();

            var projId = $('#project-menu option:selected').val();
            var sel = $('#testObject-menu option:selected').val();

            if(projId && sel!="--Select--") {
                $.getJSON('../rest/testprojects/' + projId + '/properties/', function (jsonData) {
                    if (!$.isEmptyObject(jsonData)) {
                        $.each(jsonData, function (i, prop) {
                            $.each(prop, function (key, val) {
                                var propertyInput = $(
                                        '<label for="property-' + projId + '-' + key + '">' + key + '</label>' +
                                        '<input type="text" name="properties.asMap[' + key + ']" id="property-' + projId + '-' + key + '" value="' + val + '" />'
                                );
                                projPropConf.append(propertyInput);
                            });
                        });
                        $('input').textinput();
                        projPropConf.show('slow');
                    }
                }).fail(function () {
                    projPropConf.text("Unable to get Project properties!");
                });
            }
        }
        getProjProperties();

        // Register event listener
        $('#project-menu').change( function() {
            getProjProperties();
        });
    });


    /*]]>*/
</script>
</div>

</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
