<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Monitor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">



<h3>
    <span th:text="#{l.Testrun.with.name.started(${testRun.label})}">Test run started</span>
</h3>

<hr/>

<div class="progressbar">
	<input type="range" id="progressbar" value="0" min="0" max="100" data-highlight="true" />
</div>

<textarea data-role="none" id="monitor" style="width:100%; height: 285px;">
Connecting to test runner and waiting for new messages...
</textarea>

<script th:inline="javascript">
/*<![CDATA[*/

	$("body").on("pagecontainerchangefailed", function(event, data) {

		console.log("Test report not available");
		var lastLog = monitor.val();
		var eO = new Error("Internal error occurred during test run: " + lastLog);
		eO.name = 'InternalTestRunError';
		// _opbeat('captureException', eO);

		var testProjectLabel = /*[[${testRun.label}]]*/ null;

		alert("An internal error occurred during the execution of " +
				"the test run and a test report could not be generated. " +
				"The error may be occurred due to a defect in the test project \""
				+ testProjectLabel + "\" or due to a defect in the test engine. " +
				"Please check the log of the test run or " +
				" contact the system administrator to check " +
				"the 'etf.log' log file. Sorry for the inconvenience!");

		throw eO;

	});



	var trId = /*[[${testRun.id.toString()}]]*/ null;

	var monitor = $("#monitor");
	var noDataCounter = 0;
	var intervalMs = 1000;
    var currentPos = 0;

	$(document).ready(function() {

		// Replace Search URL (redirection was caught by JQuery)
		if(window.location.pathname.indexOf('testruns/'+trId)==-1) {
			console.log("Replacing: ../testruns/"+trId)
			window.location.replace('../testruns/'+trId);
		}else{
			// Monitor
			var progressLogPollInterval = setInterval(function() {
                pullLog(currentPos);
			}, intervalMs);

            function pullLog(pos) {
                $.ajax({
                    url: '../v2/TestRuns/' + trId + '.json?view=progress&pos=' + pos,
                    dataType: 'json',
                    cache: false,
                    success: function (jsonData) {
                        if (!$.isEmptyObject(jsonData) && progressLogPollInterval != null) {

                            if (!$.isEmptyObject(jsonData.log)) {
                                $.each(jsonData.log, function (i, logEntry) {
                                    currentPos++;
                                    monitor.append(logEntry + "\n");
                                });
                                monitor.animate({
                                    scrollTop: monitor[0].scrollHeight - monitor.height()
                                }, 500);
                            }

                            if (!$.isEmptyObject(jsonData.val) && parseInt(jsonData.max) > 0) {
                                $('#progressbar').val(jsonData.val);
                                $('#progressbar').attr("max", jsonData.max);
                                $('#progressbar').slider('refresh');

                                if (parseInt(jsonData.val) >= parseInt(jsonData.max) && progressLogPollInterval != null) {
                                    clearInterval(progressLogPollInterval);
                                    progressLogPollInterval = null;
                                    console.log("Test run finished, trying to show test results");


                                    $("body").pagecontainer("change", '../testruns/' + trId + '/result', {
                                        changeHash: false,
                                        reload: true,
                                        showLoadMsg: true,
                                        transition: 'flip',
                                    });

                                    try {

                                    } catch (e) {
                                        console.log("Error?")


                                    }

                                }
                            }
                        }
                    },
                    error: function () {
                        if (progressLogPollInterval != null) {
                            clearInterval(progressLogPollInterval);
                            progressLogPollInterval = null;
                            monitor.append("Connection to test runner lost. The test could have been canceled without generating " +
                                    " a report or the internet connection to the web application has been lost!");
                            var e = new Error("Internal error occurred during test run: " + monitor.val());
                            e.name = 'InternalTestRunError';
                            _opbeat('captureException', e);
                        }
                    }
                });
            };

		}
	});


/*]]>*/
</script>

<hr/>
<span>Executing: </span>
<div th:each="t : ${testRun.result.testTasks}">
    <!--div th:if="*{testRun.TYPE == T(de.interactive_instruments.xtf.webapp.WebTrType).SUI }">
        <p>Endpoint: <span th:text="*{testRun.testObject.uRI}">Endpoint</span></p>
    </div-->
    <p><span th:text="*{t.executableTestSuite.label}">Project</span></p>
</div>

<hr/>

<p><a th:text="#{l.cancel.testrun}" id="cancel-testrun-button" data-icon="delete" data-role="button" data-inline="true" data-mini="true" href="#" th:href="@{'/testruns/' + ${testRun.id} + '/cancel'}">Cancel</a></p>
<script type="application/javascript" th:inline="javascript">
	$('#cancel-testrun-button').click(function(event) {
		event.preventDefault();
		var confirmCancel = /*[[#{l.confirm.cancel.testrun}]]*/ "Cancel test run and the generation of a test report?";
		var r=confirm(confirmCancel);
		if (r==true)   {
			window.location = $(this).attr('href');
		}
	});
</script>

</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
