<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes. At runtime, -->
    <!-- Tiles will only use the body fragment defined with tiles:fragment="content",  -->
    <!-- as specified at the corresponding views.xml file.                             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <!-- Some styles and scripts are served from spring-js-resources-{ver}.jar at -->
    <!-- runtime. Therefore not available for static prototyping. See the         -->
    <!-- layouts/standard.html template file for detail.                          -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

</head>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- START of the content to be included in the execution result.  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Only the markup inside this <body> would be required in this  -->
<!-- template if no static prototyping was intended.               -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<body tiles:fragment="content">



<h1 th:text="#{l.Running.tests}">Running tests</h1>

<div  th:if="${testRuns == null or testRuns.isEmpty()}">
    <p th:text="#{l.no.testruns}">Keine laufenden Tests</p>
</div>

<div th:if="${testRuns != null and not testRuns.isEmpty()}" id="taskStatus">
    <ul data-role="listview" data-inset="true" class="ui-listview-outer">
        <li data-iconpos="right" data-shadow="false" data-corners="false" th:each="t : ${testRuns}">
            <a href="#" th:href="@{'/testruns/' + ${t.id}}" th:text="${t.label}">Item</a>
        </li>
    </ul>
    <p th:text="#{l.term.testruns.are.removed}">Finalizing test runs will be removed automatically from this view.</p>
</div>

<p th:text="#{l.parallel.runs(${T(de.interactive_instruments.etf.webapp.controller.TestRunController).MAX_PARALLEL_RUNS})}"></p>

<br/>
<p th:if="${testDriversInfo == null}" style="color:red">No test drivers loaded</p>

<div th:if="${testDriversInfo != null}">
    <h1 th:text="#{l.Loaded.components}">Loaded components</h1>
    <ul th:each="i : ${testDriversInfo}">
        <li th:title="${i.description}" th:text="${i.label} + ' ' + ${i.version}">Name</li>
    </ul>
</div>

</body>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- END of the content to be included in the execution result -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

</html>
