<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>

    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="/favicon_tmp.ico" type="image/vnd.microsoft.icon" />


</head>


<body>


<div data-role="content" data-cache="never">

<div id="page" class="container">

    <div id="header">
        <div id="topbar">
        </div>
    </div>
    
    <div id="content">
        <div id="main" class="span-18 last" tiles:include="body">

          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          <!-- At runtime, the body of this <div> will be substituted by -->
          <!-- Tiles in order to create the final HTML page that will be -->
          <!-- sent to the browser.                                      -->
          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          
          BODY PAGE GOES HERE!
          
        </div>
    </div>
    
        
</div>

</div>


  
</body>
</html>