<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>etf WebApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script th:if="${T(de.interactive_instruments.etf.webapp.helpers.View).submitAnalysisData == 'true'}"
            src="https://d3tvtfb6518e3e.cloudfront.net/1/opbeat.min.js"
            data-org-id="51578fc580a94ef3a79e0d4f94769114"
            data-app-id="9daa0774d1">
    </script>

    <link rel="shortcut icon" th:href="@{/favicon.ico}" href="/favicon_tmp.ico" type="image/vnd.microsoft.icon" />

    <link rel="stylesheet" type="text/css" 
		href="../../ii/de.interactive-instruments.min.css"
        th:href="@{/resources/ii/de.interactive-instruments.min.css}" />

    <link rel="stylesheet" type="text/css"
          href="../../ii/de.interactive-instruments.rep.css"
          th:href="@{/resources/ii/de.interactive-instruments.rep.css}" />

    <link rel="stylesheet" type="text/css"
          href="../../ii/de.interactive-instruments.wi.css"
          th:href="@{/resources/ii/de.interactive-instruments.wi.css}" />

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

    <script>
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    <script type="text/javascript">
	    $(document).bind("mobileinit", function(){
	        $.mobile.page.prototype.options.domCache = false;
            $.mobile.ajaxLinksEnabled = false;
            $.ajaxSetup({ cache: false });
	    });
    </script>
    <script th:if="${T(de.interactive_instruments.etf.webapp.helpers.View).submitAnalysisData == 'true'}"
            th:inline="javascript">
        /*<![CDATA[*/

        _opbeat = window._opbeat || function() {
                    (window._opbeat.q = window._opbeat.q || []).push(arguments)
                };
        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        ( function( $ ) {

            function pageIsSelectmenuDialog( page ) {
                var isDialog = false,
                        id = page && page.attr( "id" );

                $( ".filterable-select" ).each( function() {
                    if ( $( this ).attr( "id" ) + "-dialog" === id ) {
                        isDialog = true;
                        return false;
                    }
                });

                return isDialog;
            }

            $.mobile.document

                // Upon creation of the select menu, we want to make use of the fact that the ID of the
                // listview it generates starts with the ID of the select menu itself, plus the suffix "-menu".
                // We retrieve the listview and insert a search input before it.
                    .on( "selectmenucreate", ".filterable-select", function( event ) {
                        var input,
                                selectmenu = $( event.target ),
                                list = $( "#" + selectmenu.attr( "id" ) + "-menu" ),
                                form = list.jqmData( "filter-form" );

                        // We store the generated form in a variable attached to the popup so we avoid creating a
                        // second form/input field when the listview is destroyed/rebuilt during a refresh.
                        if ( !form ) {
                            input = $( "<input data-type='search'></input>" );
                            form = $( "<form></form>" ).append( input );

                            input.textinput();

                            list
                                    .before( form )
                                    .jqmData( "filter-form", form )	;
                            form.jqmData( "listview", list );
                        }

                        // Instantiate a filterable widget on the newly created selectmenu widget and indicate that
                        // the generated input form element is to be used for the filtering.
                        selectmenu
                                .filterable({
                                    input: input,
                                    children: "> option[value]"
                                })

                            // Rebuild the custom select menu's list items to reflect the results of the filtering
                            // done on the select menu.
                                .on( "filterablefilter", function() {
                                    selectmenu.selectmenu( "refresh" );
                                });
                    })

                // The custom select list may show up as either a popup or a dialog, depending on how much
                // vertical room there is on the screen. If it shows up as a dialog, then the form containing
                // the filter input field must be transferred to the dialog so that the user can continue to
                // use it for filtering list items.
                    .on( "pagecontainerbeforeshow", function( event, data ) {
                        var listview, form;

                        // We only handle the appearance of a dialog generated by a filterable selectmenu
                        if ( !pageIsSelectmenuDialog( data.toPage ) ) {
                            return;
                        }

                        listview = data.toPage.find( "ul" );
                        form = listview.jqmData( "filter-form" );

                        // Attach a reference to the listview as a data item to the dialog, because during the
                        // pagecontainerhide handler below the selectmenu widget will already have returned the
                        // listview to the popup, so we won't be able to find it inside the dialog with a selector.
                        data.toPage.jqmData( "listview", listview );

                        // Place the form before the listview in the dialog.
                        listview.before( form );
                    })

                // After the dialog is closed, the form containing the filter input is returned to the popup.
                    .on( "pagecontainerhide", function( event, data ) {
                        var listview, form;

                        // We only handle the disappearance of a dialog generated by a filterable selectmenu
                        if ( !pageIsSelectmenuDialog( data.toPage ) ) {
                            return;
                        }

                        listview = data.toPage.jqmData( "listview" ),
                                form = listview.jqmData( "filter-form" );

                        // Put the form back in the popup. It goes ahead of the listview.
                        listview.before( form );
                    });



        })( jQuery );
        /*]]>*/
    </script>

    <style type="text/css">
    	.progressbar input[type=number], .ui-slider-handle {
      	display: none;
    	}  
    	.progressbar .ui-slider-track {
      	margin: 0px;
    	}
  </style>    
    
</head>


<body>
<div data-role="page">
    <div data-role="header">
        <h1 th:if="${T(de.interactive_instruments.etf.webapp.helpers.View).brandingText != null }"
            th:text="${T(de.interactive_instruments.etf.webapp.helpers.View).brandingText}">BRANDING TEXT</h1>
        <h1 th:if="${T(de.interactive_instruments.etf.webapp.helpers.View).brandingText == null }">etf WebApp</h1>

        <a th:if="${T(de.interactive_instruments.etf.webapp.helpers.View).workflowType == 'default'}"
           href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>

        <div th:if="${T(de.interactive_instruments.etf.webapp.helpers.View).workflowType == 'simplified'}"
             data-role="navbar" data-iconpos="left" id="nav-panel" data-position="fixed">
            <ul>
                <li><a href="#" th:href="@{/testprojects}" th:text="#{l.m.Start.test}" data-icon="action" >Testprojekte</a></li>
                <li><a href="#" th:href="@{/reports}" th:text="#{l.Testreports}" data-icon="eye" >Testreports</a></li>
                <li><a href="#" th:href="@{/testruns/status}" th:text="#{l.Status}" data-icon="calendar" >Status</a></li>
                <li><a href="#" th:href="${T(de.interactive_instruments.etf.webapp.helpers.View).helpPageURL}" th:text="#{l.Help}" data-icon="forward">Help</a></li>
            </ul>
        </div>
    </div>

    <div th:if="${T(de.interactive_instruments.etf.webapp.helpers.View).workflowType == 'default'}"
         data-role="panel" data-position="left" data-display="push" id="nav-panel">
        <ul  data-role="listview">
            <li><a href="#" th:href="@{/testruns/create}" th:text="#{l.m.Start.test}" data-icon="action" >Start Test</a></li>
            <li><a href="#" th:href="@{/testruns/status}" th:text="#{l.Status}" data-icon="calendar" >Status</a></li>
            <li><a href="#" th:href="@{/testobjects}" th:text="#{l.Testobjects}" data-icon="gear" >Testobjects</a></li>
            <li><a href="#" th:href="@{/reports}" th:text="#{l.Testreports}" data-icon="eye" >Testreports</a></li>
            <li><a href="#" th:href="@{/testprojects}" th:text="#{l.Testprojects}" data-icon="gear" >Testprojekte</a></li>
            <li><a href="#" th:href="${T(de.interactive_instruments.etf.webapp.helpers.View).helpPageURL}" th:text="#{l.Help}" data-icon="forward">Help</a></li>
        </ul>
    </div>

    <div data-role="content" data-cache="never">
        <div id="page" class="container">
            <div id="content">
                <div id="main" class="span-18 last" tiles:include="body">

                  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                  <!-- At runtime, the body of this <div> will be substituted by -->
                  <!-- Tiles in order to create the final HTML page that will be -->
                  <!-- sent to the browser.                                      -->
                  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

                  BODY PAGE GOES HERE!

                </div>
            </div>
        </div>
    </div>

    <div data-role="footer">
        <h1>etf WebApp <span th:text="${T(de.interactive_instruments.etf.webapp.helpers.View).version}">v1.0.6</span> &copy; 2013-2015 interactive instruments</h1>
    </div>
</div>

</body>
</html>
