

.progressbar input[type=number], .ui-slider-handle {
    display: none !important;
}

.progressbar .ui-slider-track {
    margin: 0px;
}

div.ui-input-text +input[type="hidden"] {
    visibility: hidden;
}

.ii-collapsible-li {
    padding: 0 !important;
    border-width:0 !important;
}

.ii-collapsible-li .ui-collapsible-content span {
    white-space: normal;
}

.ii-collapsible-li +li {
    border-top-width: 0 !important;
}

.ii-collapsible-li div[data-role="collapsible"]{
    margin: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-width:0 !important;
}

.ii-collapsible-li h2 {
    margin: 0 !important;
}

.ii-warn-bg {
    background-color: #F08080 !important;
}

span.question {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #89A4CC;
    line-height: 16px;
    color: White;
    font-size: 13px !important;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
span.question:hover { background-color: #3D6199; }
div.tooltip {
    background-color: #e9e9e9;
    color: #333;
    position: absolute;
    letter-spacing:2px;
    left: 25px;
    top: -25px;
    min-width: 500px;
    z-index: 1000000;
    border-radius: 7px;
}
div.tooltip:before {
    content: "";
    border: 6px solid transparent;
    border-right-color: #e9e9e9;
    border-left-width: 0px;
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
}
div.tooltip p {
    margin: 10px;
    color: #333;
}

.ui-dialog-contain {
    max-width: 800px !important;
}

#monitor-test-run-dialog .ui-dialog-contain {
    max-width: 1600px !important;
}

#toast-container>div {
    text-shadow: none !important;
    width: 400px !important;
}

.toast-title {
    letter-spacing:1px;
    font-weight: 600 !important;
    text-decoration: underline;
}

#layout-footer h1 {
    font-size: 0.7em;
    padding: .4em 0;
}

.ii-progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.ii-progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #89A4CC;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.test-run-status-FAILED h2 a {
    color: #d02d29 !important;
}

.test-run-status-PASSED h2 a {
    color: #176456 !important;
}

.test-run-status-PASSED_MANUAL h2 a {
    color: #856946 !important;
}
