.listingblock .pygments .hll { background-color: #333333 }
.listingblock .pygments  { background: #111111; color: #ffffff }
.listingblock .pygments .tok-c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.listingblock .pygments .tok-err { color: #ffffff } /* Error */
.listingblock .pygments .tok-esc { color: #ffffff } /* Escape */
.listingblock .pygments .tok-g { color: #ffffff } /* Generic */
.listingblock .pygments .tok-k { color: #fb660a; font-weight: bold } /* Keyword */
.listingblock .pygments .tok-l { color: #ffffff } /* Literal */
.listingblock .pygments .tok-n { color: #ffffff } /* Name */
.listingblock .pygments .tok-o { color: #ffffff } /* Operator */
.listingblock .pygments .tok-x { color: #ffffff } /* Other */
.listingblock .pygments .tok-p { color: #ffffff } /* Punctuation */
.listingblock .pygments .tok-cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.listingblock .pygments .tok-cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.listingblock .pygments .tok-c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.listingblock .pygments .tok-cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.listingblock .pygments .tok-gd { color: #ffffff } /* Generic.Deleted */
.listingblock .pygments .tok-ge { color: #ffffff } /* Generic.Emph */
.listingblock .pygments .tok-gr { color: #ffffff } /* Generic.Error */
.listingblock .pygments .tok-gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.listingblock .pygments .tok-gi { color: #ffffff } /* Generic.Inserted */
.listingblock .pygments .tok-go { color: #444444; background-color: #222222 } /* Generic.Output */
.listingblock .pygments .tok-gp { color: #ffffff } /* Generic.Prompt */
.listingblock .pygments .tok-gs { color: #ffffff } /* Generic.Strong */
.listingblock .pygments .tok-gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.listingblock .pygments .tok-gt { color: #ffffff } /* Generic.Traceback */
.listingblock .pygments .tok-kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.listingblock .pygments .tok-kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.listingblock .pygments .tok-kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.listingblock .pygments .tok-kp { color: #fb660a } /* Keyword.Pseudo */
.listingblock .pygments .tok-kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.listingblock .pygments .tok-kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.listingblock .pygments .tok-ld { color: #ffffff } /* Literal.Date */
.listingblock .pygments .tok-m { color: #0086f7; font-weight: bold } /* Literal.Number */
.listingblock .pygments .tok-s { color: #0086d2 } /* Literal.String */
.listingblock .pygments .tok-na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.listingblock .pygments .tok-nb { color: #ffffff } /* Name.Builtin */
.listingblock .pygments .tok-nc { color: #ffffff } /* Name.Class */
.listingblock .pygments .tok-no { color: #0086d2 } /* Name.Constant */
.listingblock .pygments .tok-nd { color: #ffffff } /* Name.Decorator */
.listingblock .pygments .tok-ni { color: #ffffff } /* Name.Entity */
.listingblock .pygments .tok-ne { color: #ffffff } /* Name.Exception */
.listingblock .pygments .tok-nf { color: #ff0086; font-weight: bold } /* Name.Function */
.listingblock .pygments .tok-nl { color: #ffffff } /* Name.Label */
.listingblock .pygments .tok-nn { color: #ffffff } /* Name.Namespace */
.listingblock .pygments .tok-nx { color: #ffffff } /* Name.Other */
.listingblock .pygments .tok-py { color: #ffffff } /* Name.Property */
.listingblock .pygments .tok-nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.listingblock .pygments .tok-nv { color: #fb660a } /* Name.Variable */
.listingblock .pygments .tok-ow { color: #ffffff } /* Operator.Word */
.listingblock .pygments .tok-w { color: #888888 } /* Text.Whitespace */
.listingblock .pygments .tok-mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.listingblock .pygments .tok-mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.listingblock .pygments .tok-mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.listingblock .pygments .tok-mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.listingblock .pygments .tok-mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.listingblock .pygments .tok-sb { color: #0086d2 } /* Literal.String.Backtick */
.listingblock .pygments .tok-sc { color: #0086d2 } /* Literal.String.Char */
.listingblock .pygments .tok-sd { color: #0086d2 } /* Literal.String.Doc */
.listingblock .pygments .tok-s2 { color: #0086d2 } /* Literal.String.Double */
.listingblock .pygments .tok-se { color: #0086d2 } /* Literal.String.Escape */
.listingblock .pygments .tok-sh { color: #0086d2 } /* Literal.String.Heredoc */
.listingblock .pygments .tok-si { color: #0086d2 } /* Literal.String.Interpol */
.listingblock .pygments .tok-sx { color: #0086d2 } /* Literal.String.Other */
.listingblock .pygments .tok-sr { color: #0086d2 } /* Literal.String.Regex */
.listingblock .pygments .tok-s1 { color: #0086d2 } /* Literal.String.Single */
.listingblock .pygments .tok-ss { color: #0086d2 } /* Literal.String.Symbol */
.listingblock .pygments .tok-bp { color: #ffffff } /* Name.Builtin.Pseudo */
.listingblock .pygments .tok-vc { color: #fb660a } /* Name.Variable.Class */
.listingblock .pygments .tok-vg { color: #fb660a } /* Name.Variable.Global */
.listingblock .pygments .tok-vi { color: #fb660a } /* Name.Variable.Instance */
.listingblock .pygments .tok-il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */